@import url('https://fonts.googleapis.com/css2?family=Meie+Script&display=swap');
body,
html {
    height: 100%;
    margin: 0;
}

.info {
    font-size: 100px;   
    font-weight: bolder;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -7.188px;

}
p {
    font-family: 'Satoshi', sans-serif;
    color: white;
}
.containermain{
    font-family: 'Satoshi', sans-serif;
    color: #ff0000;
    background: url(https://media1.tenor.com/m/q59uBuW4GMQAAAAC/cloud.gif);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

    /* Set the container height to 100% of the viewport height */

    /* Center the content vertically */
}

.about-info {
    width: 50%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
    
}

.profile {
    max-width: 100%;
    height: auto;
}

.connect {
    margin-top: 20px;
}
.title-focus{
    font-family: "Meie Script", cursive;
}

@media (max-width: 768px) {
    .about-info {
      width: 60%; 
      margin-top: 50px;
    }
  }
  