.info {
    width: 650px;
    font-family: 'Inter',
        sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -7.188px;
}

.container {
 
    background: url(https://media1.tenor.com/m/q59uBuW4GMQAAAAC/cloud.gif);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    width: 100%;


}

.about-info {
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.profile {
    width: 650px;
}

.connect {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#container-projects {
    animation: ease-in 20s;
    background-color: black;
}

@media(max-width: 1145px) {
    .nav-items {
        display: none;
    }

    .container {
        width: 100%;
        height: 100vh;
    }

    .info {
        width: auto;
        display: flex;

    }

    .about-info {
        width: 100%;

    }

    .profile {

        width: 400px;
    }

}