#container-projects {
 
    animation: moveBackground 10s ease infinite;
    background-size: 200% 100%;
        display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;
    height: 100vh;  
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 30px;
    animation: fadeInAnimation ease 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        background: linear-gradient(264deg,red,rgb(105, 0, 0),red,white);
        background-size: 400% 400%;
    
        animation: AnimationName 8s ease infinite;
    }
    
    @keyframes AnimationName {
        0%{background-position:2% 0%}
        50%{background-position:99% 100%}
        100%{background-position:2% 0%}
    }
      
    
    body {
        animation: fadeInAnimation ease 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    
    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
}

.projects-main {
    color: rgb(0, 0, 0);
    width: 80%;
}

.title {
    width: 95%;
}

.project-names {
    display: flex;
    flex-direction: row;

    padding: 20px;
    border: 2px solid #626262;
    animation: fadeIn 5s;
        -webkit-animation: fadeIn 5s;
        -moz-animation: fadeIn 5s;
        -o-animation: fadeIn 5s;
        -ms-animation: fadeIn 5s;
    }
    
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
    }
    
    @-moz-keyframes fadeIn {
        0% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
    }
    
    @-webkit-keyframes fadeIn {
        0% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
    }
    
    @-o-keyframes fadeIn {
        0% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
    }
    
    @-ms-keyframes fadeIn {
        0% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
}
    
.main {
    border: 2px solid #ff0000;
}

.arrow {
    height: 30px;
    margin-left: 20px;
}
.image-reveal {
    position: fixed;
    max-width: 300px;
    /* Adjust as needed */
    max-height: 300px;
    /* Adjust as needed */
    z-index: 10;
    pointer-events: none;
    /* Make sure the image doesn't interfere with the cursor */
    display: none;
    /* Initially hide the image */
    transition: opacity 0.3s ease-in-out;
}

.projects-main:hover .image-reveal {
    display: block;
    /* Show the image when hovering over the entire projects section */
    opacity: 1;
}

.fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 1200ms ease-out, transform 1500ms ease-in-out,
        visibility 1200ms ease-out;

    will-change: opacity, transform, visibility;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}