#container-projects {
    background-color: black;
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 30px;
    animation: fadeInAnimation ease 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    
    body {
        animation: fadeInAnimation ease 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    
    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
}

.projects-main {
    color: white;
    width: 70%;
}

.title {
    width: 95%;
}

.project-names {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    padding: 20px;
    border: 2px solid #ffffff;
    animation: fadeIn 5s;
        -webkit-animation: fadeIn 5s;
        -moz-animation: fadeIn 5s;
        -o-animation: fadeIn 5s;
        -ms-animation: fadeIn 5s;
    }
    
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
    }
    
    @-moz-keyframes fadeIn {
        0% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
    }
    
    @-webkit-keyframes fadeIn {
        0% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
    }
    
    @-o-keyframes fadeIn {
        0% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
    }
    
    @-ms-keyframes fadeIn {
        0% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
}

.main {
    border: 2px solid #0044ff;
}

.arrow {
    height: 30px;
    margin-left: 20px;
}
.image-reveal {
    position: fixed;
    max-width: 300px;
    /* Adjust as needed */
    max-height: 300px;
    /* Adjust as needed */
    z-index: 10;
    pointer-events: none;
    /* Make sure the image doesn't interfere with the cursor */
    display: none;
    /* Initially hide the image */
    transition: opacity 0.3s ease-in-out;
}

.projects-main:hover .image-reveal {
    display: block;
    /* Show the image when hovering over the entire projects section */
    opacity: 1;
}

.fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 1200ms ease-out, transform 1500ms ease-in-out,
        visibility 1200ms ease-out;

    will-change: opacity, transform, visibility;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}