body {
  margin: 0;

  scroll-behavior: smooth;
}

section {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

